.add_case {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #e89473;
}
form {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: flex-start;
}
form input {
  background-color: #232323;
  padding: 0.4rem;
  border-radius: 0.2rem;
  border: none;
  color: #fff;
}
form select {
  background-color: #fff;
  padding: 0.3rem 0.6rem;
}
form input::placeholder,
form select::placeholder {
  color: #fff;
  font-weight: 600;
}
form div {
  display: flex;
  column-gap: 0.5rem;
}
form button {
  padding: 0.5rem 1.1rem;
  background-color: #fff;
  color: #232323;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}
